<!-- path url -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'app/images/favicon.jpg' %}"
      type="image/x-icon" />
    <!-- imported fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=MonteCarlo&display=swap"
      rel="stylesheet" />
    <!-- fontawesome icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- swiper css file -->
    <link
      rel="stylesheet"
      href="{% static 'app/swiper/swiper-bundle.min.css' %}" />
    <!-- static css file -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <!-- swiper script file -->
    <script defer src="{% static 'app/swiper/swiper-bundle.min.js' %}"></script>
    <!-- static script file -->
    <script defer type="module" src="{% static 'app/js/script.js' %}"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <header class="header">
      <a href="/" class="brand">
        <h1>Viva<span>beauty</span></h1>
      </a>
      <!--======= NAV LINKS =======-->
      <ul class="nav-links">
        <!-- to be populated by the script.js file -->
      </ul>
      <div class="side-menu">
        <menu class="dropdown-sidemenu">
          <li class="user-profile">User</li>
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </menu>
        <div class="cart">
          <i class="fa fa-shopping-cart"></i> <span>0</span>
        </div>
        <div class="favorite"><i class="fa fa-bookmark"></i><span>0</span></div>
      </div>
      <!--========= HAMBURGER =========-->
      <div class="hamburger">
        <div class="bar"></div>
      </div>
    </header>

    <!--======== MAIN CONTENT ========-->
    {% block main-content %}{% endblock main-content %}

    <!--======== FOOTER ========-->
    <footer>
      <article>
        <div class="col">
          <a href="/" class="brand">
            <h1>Viva<span>beauty</span></h1>
          </a>
          <p>
            To subscribe to our newsletter and follow us on our social media
            handles to receive tips on maintaining healty hair and be updated on
            our new products.
          </p>
          <form action="" class="subscribe">
            <input type="email" placeholder="Enter Your Email" />
            <button>Subscribe</button>
          </form>
        </div>
        <div class="col">
          <h2>Quick Links</h2>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/services">Services</a>
            </li>
            <li>
              <a href="/products">Products</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Resources</h2>
          <ul>
            <li>
              <a href="/booking">Book Service</a>
            </li>
            <li>
              <a href="/">Checkout</a>
            </li>
            <li>
              <a href="/">Wishlist</a>
            </li>
            <li>
              <a href="/">Privacy policies</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Contact</h2>
          <ul>
            <li>
              <a href="tel:{{contact_info.phone_number}}">
                Call: {{contact_info.phone_number}}
              </a>
            </li>
            <li>
              <a href="mailto:{{contact_info.email}}">
                {{contact_info.email}}
              </a>
            </li>
            <li>
              <a href="https://maps.google.com/?q='{{contact_info.address}}'"
                >{{contact_info.address}}</a
              >
            </li>
          </ul>
        </div>
      </article>
      <div class="divider">
        <p>All rights reserved &copy; Vivabeauty <span class="year"></span></p>
        <!-- social media handles -->
        <div class="social-icons">
          <!--facebook icon and link-->
          {% if contact_info.facebook %}
          <a href="{{contact_info.facebook}}" target="_blank"
            ><i class="fab fa-square-facebook"></i
          ></a>
          {% endif %}

          <!--whatsapp icon and link-->
          {% if contact_info.whatsapp %}
          <a href="{{contact_info.whatsapp}}" target="_blank"
            ><i class="fab fa-square-whatsapp"></i
          ></a>
          {% endif %}

          <!--twitter icon and link-->
          {% if contact_info.twitter %}
          <a href="{{contact_info.twitter}}" target="_blank"
            ><i class="fab fa-square-x-twitter"></i
          ></a>
          {% endif %}

          <!--instagram icon and link-->
          {% if contact_info.instagram %}
          <a href="{{contact_info.instagram}}" target="_blank"
            ><i class="fab fa-square-instagram"></i
          ></a>
          {% endif %}

          <!--tiktok icon and link-->
          {% if contact_info.tiktok %}
          <a href="{{contact_info.tiktok}}" target="_blank"
            ><i class="fab fa-tiktok"></i
          ></a>
          {% endif %}

          <!--linkedin icon and link-->
          {% if contact_info.linkedin %}
          <a href="{{contact_info.linkedin}}" target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          {% endif %}
        </div>
      </div>
    </footer>
  </body>
</html>
