<!-- path url -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'app/images/favicon.jpg' %}"
      type="image/x-icon" />
    <!-- imported fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=MonteCarlo&display=swap"
      rel="stylesheet" />
    <!-- fontawesome icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- swiper css file -->
    <link
      rel="stylesheet"
      href="{% static 'app/swiper/swiper-bundle.min.css' %}" />
    <!-- static css file -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <!-- swiper script file -->
    <script defer src="{% static 'app/swiper/swiper-bundle.min.js' %}"></script>
    <!-- static script file -->
    <script defer type="module" src="{% static 'app/js/script.js' %}"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <!-- Desktop header -->
    <header class="header">
      <a href="/" class="brand">
        <h1>Viva<span>beauty</span></h1>
      </a>
      <!--======= NAV LINKS =======-->
      <ul class="nav-links">
        <!-- to be populated by the script.js file -->
      </ul>
      <div class="side-menu">
        <menu class="dropdown-sidemenu">
          <!-- if user is is_authenticated then display this menu -->
          {% if request.user.is_authenticated %}
          <li class="user-profile">{{request.user|capfirst}}</li>
          <ul>
            <li><a href="{% url 'profile_details' %}">Profile</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="{% url 'password_change' %}">Change Password</a></li>
            <li>
              <form
                method="post"
                action="{% url 'logout' %}"
                class="logout-form">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
          </ul>
          {% else %}
          <!-- otherwise display this menu -->
          <li class="user-profile">Account</li>
          <ul>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          </ul>
          {% endif %}
        </menu>

        <div class="cart">
          <i class="fa fa-shopping-cart"></i> <span>0</span>
        </div>
        <div class="favorite"><i class="fa fa-heart"></i><span>0</span></div>
      </div>
    </header>

    <!-- Mobile header -->
    <header class="mobile-header">
      <a href="/" class="brand">
        <h1>Viva<span>beauty</span></h1>
      </a>
      <!--======= NAV LINKS =======-->
      <nav>
        <ul class="nav-links">
          <!-- to be populated by the script.js file -->
        </ul>
        <div class="side-menu">
          <menu class="dropdown-sidemenu">
            <!-- if user is is_authenticated then display this menu -->
            {% if request.user.is_authenticated %}
            <li class="user-profile">{{request.user|capfirst}}</li>
            <ul>
              <li><a href="{% url 'profile_details' %}">Profile</a></li>
              <li><a href="#">Orders</a></li>
              <li><a href="{% url 'password_change' %}">Change Password</a></li>
              <li>
                <form
                  method="post"
                  action="{% url 'logout' %}"
                  class="logout-form">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
              </li>
            </ul>
            {% else %}
            <!-- otherwise display this menu -->
            <li class="user-profile">Account</li>
            <ul>
              <li><a href="{% url 'register' %}">Register</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            {% endif %}
          </menu>

          <div class="cart">
            <i class="fa fa-shopping-cart"></i> <span>0</span>
          </div>
          <div class="favorite"><i class="fa fa-heart"></i><span>0</span></div>
        </div>
        <!--========= HAMBURGER =========-->
        <div class="hamburger">
          <div class="bar"></div>
        </div>
      </nav>
    </header>

    <!--======== MAIN CONTENT ========-->
    {% block main-content %}{% endblock main-content %}

    <!--======== FOOTER ========-->
    <footer>
      <article>
        <div class="col">
          <a href="/" class="brand">
            <h1>Viva<span>beauty</span></h1>
          </a>
          <p>
            Subscribe to our newsletter and follow us on our social media
            handles to receive tips on maintaining healty hair and be updated on
            our new products.
          </p>
          <form action="" class="subscribe">
            <input type="email" placeholder="Enter Your Email" />
            <button>Subscribe</button>
          </form>
        </div>
        <div class="col">
          <h2>Quick Links</h2>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/services">Services</a>
            </li>
            <li>
              <a href="/products">Products</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Resources</h2>
          <ul>
            <li>
              <a href="/booking">Book Service</a>
            </li>
            <li>
              <a href="/">Checkout</a>
            </li>
            <li>
              <a href="/">Wishlist</a>
            </li>
            <li>
              <a href="/">Privacy policies</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Contact</h2>
          <ul>
            <li>
              <a href="tel:{{admin_phone_number}}">
                Call: {{admin_phone_number}}
              </a>
            </li>
            <li>
              <a href="mailto:{{admin_email}}"> {{admin_email}} </a>
            </li>
            <li>
              <a href="https://maps.google.com/?q='{{admin_address}}'"
                >{{admin_address}}</a
              >
            </li>
          </ul>
        </div>
      </article>
      <div class="divider">
        <p>All rights reserved &copy; Vivabeauty <span class="year"></span></p>
        <!-- social media handles -->
        <div class="social-icons">
          <!--facebook icon and link-->
          {% if admin_facebook %}
          <a href="{{admin_facebook}}" target="_blank"
            ><i class="fab fa-square-facebook"></i
          ></a>
          {% endif %}

          <!--whatsapp icon and link-->
          {% if admin_whatsapp %}
          <a href="{{admin_whatsapp}}" target="_blank"
            ><i class="fab fa-square-whatsapp"></i
          ></a>
          {% endif %}

          <!--twitter icon and link-->
          {% if admin_twitter %}
          <a href="{{admin_twitter}}" target="_blank"
            ><i class="fab fa-square-x-twitter"></i
          ></a>
          {% endif %}

          <!--instagram icon and link-->
          {% if admin_instagram %}
          <a href="{{admin_instagram}}" target="_blank"
            ><i class="fab fa-square-instagram"></i
          ></a>
          {% endif %}

          <!--tiktok icon and link-->
          {% if admin_tiktok %}
          <a href="{{admin_tiktok}}" target="_blank"
            ><i class="fab fa-tiktok"></i
          ></a>
          {% endif %}

          <!--linkedin icon and link-->
          {% if admin_linkedin %}
          <a href="{{admin_linkedin}}" target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          {% endif %}
        </div>
      </div>
    </footer>
  </body>
</html>
