<!-- path url -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'app/images/favicon.jpg' %}"
      type="image/x-icon" />
    <!-- imported fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=MonteCarlo&display=swap"
      rel="stylesheet" />
    <!-- fontawesome icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- static css file -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <!-- static script file -->
    <script defer type="module" src="{% static 'app/js/script.js' %}"></script>
  </head>
  <body>
    <header class="header">
      <a href="/" class="brand">
        <h1>Viva<span>beauty</span></h1>
      </a>
      <!--======= NAV LINKS =======-->
      <ul class="nav-links">
        <!-- to be populated by the script.js file -->
      </ul>
      <div class="side-menu">
        <menu class="dropdown-sidemenu">
          <li class="user-profile">User</li>
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </menu>
        <div class="cart">
          <i class="fa fa-shopping-cart"></i> <span>0</span>
        </div>
        <div class="favorite"><i class="fa fa-bookmark"></i><span>0</span></div>
      </div>
      <!--========= HAMBURGER =========-->
      <div class="hamburger">
        <div class="bar"></div>
      </div>
    </header>
    <!--======== BANNER ========-->
    {% block banner %}{% endblock banner %}
    <!--======== ABOUT ========-->
    {% block about-us %}{% endblock about-us %}
    <!--======== SERVICES ========-->
    {% block services %}{% endblock services %}
    <!--======== WHY CHOOSE US ========-->
    {% block why-choose-us %}{% endblock why-choose-us %}
    <!--======== PRODUCTS ========-->
    {% block products %}{% endblock products %}
    <!--======== CLIENT'S REVIEW ========-->
    {% block clients-review %}{% endblock clients-review %}
    <!--======== FOOTER ========-->
    <footer></footer>
  </body>
</html>
