<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- document title -->
{% block title %}Viva Beauty Home | {{category_for}} Category{% endblock title%}

<!-- main products category block -->
{% block main-content %}
<section id="products" class="section-top-padding">
  <h1 class="section-title">our <span>{{category_for}}</span></h1>
  <p class="section-intro">{{category_intro}}</p>
  <div class="product-container">
    {% for category in categories %}
    <article class="card">
      <div>
        <a href="{% url category_for category.id %}">
          <div class="card-img-container">
            <img
              src="{{category.category_image.url}}"
              alt="{{ category.name }} Category" />
          </div>
        </a>
        <a href="{% url category_for category.id %}"
          ><h3>{{ category.name }} {{category_for}}</h3></a
        >
        <p class="product-desc">{{category.category_description}}</p>
      </div>
      <a href="{% url category_for category.id %}" class="btn btn-outline"
        >View {{category_for}}</a
      >
    </article>
    {% endfor %}
  </div>
</section>
{% endblock main-content %}
