<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- document title -->
{% block title %}Viva Beauty Home | Contact Us{% endblock title %}

<!-- main products list block -->
{% block main-content %}
<section class="contact section-top-padding">
  <h1 class="section-title">Contact <span>Us</span></h1>
  <p class="section-intro">Reach out to us via any means below.</p>

  <section class="location" id="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1667.5115805421551!2d6.194869636675932!3d6.259347723264336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10414e58de72cb43%3A0xb7065043769b2c1f!2s16%20Isedeh%20St%2C%20Boji%20Boji%2C%20Agbor%20321103%2C%20Delta!5e0!3m2!1sen!2sng!4v1718227156030!5m2!1sen!2sng"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <div class="contact-container">
    <article class="contact-left">
      <p>
        To send questions or comments to Viva Beauty Home, please fill out the
        form below with your information. We'll always respond to your messages
        right away.
      </p>
      <form action="" method="POST">
        <input type="text" name="Name" placeholder="Enter Your Name" required />
        <input
          type="email"
          name="Email"
          placeholder="Enter Your Email"
          required />
        <textarea
          rows="6"
          name="Message"
          placeholder="Enter Message"
          required></textarea>
        <button type="submit" class="btn">SUBMIT</button>
      </form>
    </article>
    <article class="contact-right">
      <p>
        You can also contact us via our phone number, WhatsApp, email, or social
        media handles below.
      </p>
      <div class="contact-details">
        <a href="mailto:{{contact_info.email}}"
          ><i class="fas fa-paper-plane"></i> {{contact_info.email}}</a
        >
        <a href="tel:{{contact_info.phone_number}}"
          ><i class="fas fa-phone-square"></i> {{contact_info.phone_number}}</a
        >
        <a href="https://maps.google.com/?q='{{contact_info.address}}'"
          ><i class="fas fa-location-dot"></i> {{contact_info.address}}</a
        >
      </div>
      <div class="social-icons">
        <!--facebook icon and link-->
        {% if contact_info.facebook %}
        <a href="{{contact_info.facebook}}" target="_blank"
          ><i class="fab fa-square-facebook"></i
        ></a>
        {% endif %}

        <!--whatsapp icon and link-->
        {% if contact_info.whatsapp %}
        <a href="{{contact_info.whatsapp}}" target="_blank"
          ><i class="fab fa-square-whatsapp"></i
        ></a>
        {% endif %}

        <!--twitter icon and link-->
        {% if contact_info.twitter %}
        <a href="{{contact_info.twitter}}" target="_blank"
          ><i class="fab fa-square-x-twitter"></i
        ></a>
        {% endif %}

        <!--instagram icon and link-->
        {% if contact_info.instagram %}
        <a href="{{contact_info.instagram}}" target="_blank"
          ><i class="fab fa-square-instagram"></i
        ></a>
        {% endif %}

        <!--tiktok icon and link-->
        {% if contact_info.tiktok %}
        <a href="{{contact_info.tiktok}}" target="_blank"
          ><i class="fab fa-tiktok"></i
        ></a>
        {% endif %}

        <!--linkedin icon and link-->
        {% if contact_info.linkedin %}
        <a href="{{contact_info.linkedin}}" target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        {% endif %}
      </div>
    </article>
  </div>
</section>
{% endblock main-content %}
