<!-- inheriting the codes, links, etc from the index.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- document title -->
{% block title %}Viva Beauty Home{% endblock title %}

<!-- banner block -->
{% block main-content %}
<section id="banner">
  <div class="content">
    <h1>Welcome to Viva Beauty Home</h1>
    <p>
      Unlock Your Best Look at Viva Beauty Home – Meet Your Inner Beauty You've
      Never Discovered and Unleash Your Radiance.
    </p>
    <a href="" class="btn btn-outline">learn more</a>
  </div>
</section>


<!-- about Us  -->
<section id="about-us" class="row">
  <article class="col-1">
    <img src="{% static 'app/images/aboutUs.jpg' %}" alt="about us" />
  </article>
  <article class="col-2">
    <h1>ABOUT <span>US<span></h1>
    <p>
      At Viva Beauty Home, we're passionate about hair care and beauty. Our team
      of skilled professionals is dedicated to providing top-notch services that
      leave you feeling confident and fabulous. We help discover the designs
      that accentuate your natural features while staying true to your personal
      style. Whether you're thinking about what style to go for next, a relaxing
      hair treatment, or intricate hair plaiting, we've got you covered.
    </p>
    <a href="" class="btn btn-outline">book now</a>
  </article>
</section>

<!-- services  -->
<section id="services">
  <h1 class="section-title">what we <span>do</span></h1>
  <p class="section-intro">We offer a comprehensive range of services to pamper you from head to toe. Browse our services below and start your transformation today!</p>
  <div class="row">
    {% for category in service_categories %}
    <article class="col">
      <a href="{% url 'products' category.id %}">
        <img src="{{category.category_image.url}}" alt="{{ category.name }} Category" class="service-img">
        <h2>{{ category.name }} services</h2>
      </a>
      <p>{{ category.category_description }}</p>
    </article>
    {% endfor %}
    </div>
    <a href="service_categories" class="btn btn-outline">learn more</a>
</section>

<!-- why choose us -->
<section id="why-choose-us">
  <h1 class="section-title">why choose <span>us</span></h1>
  <div class="row">
      <article class="col-1">
        <h2>Why We're Different</h2>
        <ul>
          <li>Well equiped facility.</li> 
          <li>We've got Experts that delivers.</li>
          <li>We prioritize customer satisfaction.</li>
          <li>We treat customer's data with confidentiality.</li>
          <li>Our service and delivery is not limited by distance.</li>
          <li>Tailored services to meet client's unique needs and preferences.</li>
          <li>Strict hygiene standards to ensure a safe and comfortable visit.</li>
          <li>We offer competitive prices without compromising on excellence.</li>
        </ul>
      </article>
      <article class="col-2">
        <img src="{% static 'app/images/salon-interior.png' %}" alt="network image" class="about-img">
      </article>
    </div>
</section>

<!-- products -->
<section id="products">
  <h1 class="section-title">our <span>products</span></h1>
  <p class="section-intro">Seeking for the right product or accessories that complements your beauty and make you radiant? Search no more. Explore our range of high-quality products from different categories.</p>
  <div class="product-container">
    {% for category in product_categories %}
    <article class="card">
      <a href="{% url 'products' category.id %}">
        <div class="card-img-container">
          <img src="{{category.category_image.url}}" alt="{{ category.name }} Category">
        </div>
        <h3>{{ category.name }} Products</h3>
      </a>
      <p class="product-desc">{{category.category_description}}</p>
    </article>
    {% endfor %}
  </div>
  <a href="/product_categories/" class="btn btn-outline">learn more</a>
</section>

<!-- clients-review -->
<section id="reviews" class="swiper-container" >
  <h1 class="section-title">Client's <span>Review</span></h1>
  <div class="review-container">
        <div class="review-wrapper swiper-wrapper">
          <!-- Review 1 -->
          <article class="review-content swiper-slide">
            <div class="client">
              <img
                src="{% static 'app/images/client-1.jpg' %}"
                alt="Client"
                class="client-img" />
              <h3 class="client-name">Monica Bradley</h3>
            </div>
            <div class="review-text-container">
              <p class="review-text">I absolutely love the intricate braids I got at Viva beauty home salon! The attention to detail and the neatness of the plaits are unmatched. Viva beauty home also recommended some fantastic hair products that have transformed my hair. Highly recommend!</p>
            </div>
          </article>
          <!-- Review 2 -->
          <article class="review-content swiper-slide">
            <div class="client">
              <img
                src="{% static 'app/images/client-2.jpg' %}"
                alt="Client"
                class="client-img" />
              <h3 class="client-name">Ann Coulby</h3>
            </div>
            <div class="review-text-container">
              <p class="review-text">
                Viva beauty salon has been my go-to wax place. viva beauty home's waxing technique is so amazing that I got very little pain during waxing. She also makes sure no hair is left behind. I haven't seen such a dedicated beautician in my life.
              </p>
            </div>
          </article>
          <!-- Review 3 -->
          <article class="review-content swiper-slide">
            <div class="client">
              <img
                src="{% static 'app/images/client-3.jpg' %}"
                alt="Client"
                class="client-img" />
              <h3 class="client-name">Angelina Pep</h3>
            </div>
            <div class="review-text-container">
              <p class="review-text">Viva beauty has a peaceful and serene atmosphere. The massage oils, facial creams, and all other beauty products they use are of top quality. All massage therapists and technicians are highly skilled.</p>
            </div>
          </article>
          <!-- Review 4 -->
          <article class="review-content swiper-slide">
            <div class="client">
              <img
                src="{% static 'app/images/client-4.jpg' %}"
                alt="Client"
                class="client-img" />
              <h3 class="client-name">Stephanie Steve</h3>
            </div>
            <div class="review-text-container">
              <p class="review-text">Viva beauty home is my go-to place for braids. The stylists are skilled, and the salon has a warm and welcoming vibe. Plus, their hair product selection is impressive. I've never been disappointed!</p>
            </div>
          </article>
        </div>

        <!--==== Add Pagination ====-->
        <div class="swiper-pagination"></div>
      </div>
</section>
{% endblock main-content %}