<!-- inheriting the codes, links, etc from the index.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- document title -->
{% block title %}Viva Beauty Home{% endblock title %}

<!-- banner block -->
{% block banner %}
<section class="banner">
  <div class="content">
    <h1>Welcome to Viva Beauty Home</h1>
    <p>
      Unlock Your Best Look at Viva Beauty Home – Meet Your Inner Beauty You've
      Never Discovered and Unleash Your Radiance.
    </p>
    <a href="" class="btn btn-outline">learn more</a>
  </div>
</section>
{% endblock banner %}

<!-- aboutUs block -->
{% block about-us %}
<section class="about-us">
  <article class="col-1">
    <img src="{% static 'app/images/aboutUs.jpg' %}" alt="about us" />
  </article>
  <article class="col-2">
    <h1>About Us</h1>
    <p>
      At Viva Beauty Home, we're passionate about hair care and beauty. Our team
      of skilled professionals is dedicated to providing top-notch services that
      leave you feeling confident and fabulous. We help discover the designs
      that accentuate your natural features while staying true to your personal
      style. Whether you're thinking about what style to go for next, a relaxing
      hair treatment, or intricate hair plaiting, we've got you covered.
    </p>
    <a href="" class="btn btn-outline">book now</a>
  </article>
</section>
{% endblock about-us %}

<!-- main-content block -->
{% block main-content %}
<section>
  <h1>Welcome to Vivabeauty home</h1>
</section>
{% endblock main-content %}
