<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- loading custom_filter for price -->
{% load custom_filters %}

<!-- head block -->
{% block head %}
<!-- cart.css file -->
<link rel="stylesheet" href="{% static 'app/css/cart.css' %}" />
{% endblock head %}

<!-- document title -->
{% block title %}Viva Beauty Home | Payment Page {% endblock title %}

<!-- Payment page -->
{% block main-content %}
<section class="section-top-padding">
  <article class="payment-container">
    <div class="col text-center">
      <span class="cart-icon">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-cart-check mb-5"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
          <path
            fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
      </span>
      <h2>Hello {{user|capfirst}}!</h2>
      <p class="text">
        You're about to make a payment of
        <strong>&#8358;{{totalamount|format_with_commas}}</strong>
      </p>
      <div class="payment-btn-container">
        <button onclick="payWithPaystack()">Make payment</button>
      </div>
    </div>
  </article>
</section>
{% endblock main-content %}

<!-- Paystack Script -->
{% block paystack-script %}
<script>
  function payWithPaystack() {
    let currency = "NGN";
    let plan = "";
    let ref = "{{payment.ref}}";
    let amount = "{{payment.amount}}";
    let pubkey = "{{paystack_pub_key}}";
    let obj = {
      key: pubkey,
      email: "{{payment.email}}",
      amount: "{{pstk_amount}}",
      ref: ref,
      callback: function (response) {
        window.location.href = "{% url 'verify_payment' payment.ref %}";
      },
    };
    if (Boolean(currency)) {
      obj.currency = currency.toUpperCase();
    }
    if (Boolean(plan)) {
      obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe();
  }
</script>
<script
  type="application/javascript"
  src="https://js.paystack.co/v1/inline.js"></script>
{% endblock paystack-script %}
