<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- head block -->
{% block head %}
<!-- profile.css file -->
<link rel="stylesheet" href="{% static 'app/css/profile.css' %}" />
{% endblock head %}

<!-- document title -->
{% block title %}Viva Beauty Home | Password Change Successful{%endblock title%}

<!-- Profile page -->
{% block main-content %}
<section class="section-top-padding">
  <div class="welcome-user"><h3>Welcome {{request.user|capfirst}}!</h3></div>
  <article class="passwordchange-container">
    <div class="passwordchange">
      <h2>Password Changed Successfully!!!</h2>
      <div class="iframe-container">
        <iframe
          src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk"
          width="200"
          height="200"
          frameborder="0"
          class="giphy-embed"
          allowfullscreen></iframe>
      </div>
    </div>
  </article>
</section>
{% endblock main-content %}
