<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- loading custom_filter for price -->
{% load custom_filters %}

<!-- head block -->
{% block head %}
<!-- product.css file -->
<link rel="stylesheet" href="{% static 'app/css/product.css' %}" />
{% endblock head %}

<!-- document title -->
{% block title %}Viva Beauty Home | Product List{% endblock title %}

<!-- main products list -->
{% block main-content %}
<section class="section-top-padding">
  <h1 class="section-title">
    {{ selected_category.name }} <span>products</span>
  </h1>
  <p class="section-intro">
    Explore the right hair products that fits your hair texture, prevent hair
    loss and maintain hair color, prevents dandruffs, and many more. Check out
    our range of high-quality hair products, from shampoos and conditioners to
    styling essentials.
  </p>

  <article class="product-list-container">
    <ul class="categories">
      <li><a class="" href="{% url 'all_products' %}">all</a></li>
      {% for category in categories %}
      <li>
        <a class="" href="{% url 'products' category.id %}">{{category}}</a>
      </li>
      {% endfor %}
    </ul>
    <aside class="product-list">
      {% for product in products %}
      <!-- product item -->
      <article class="card">
        <a href="{% url 'product_detail' product.id %}">
          <div class="card-img-container">
            <img
              src="{{ product.product_image.url }}"
              alt="{{ product.title }}" />
          </div>
          <h3 class="title">{{ product.title }}</h3>
        </a>
        {% comment %} format_with_commas is a function from custom_filters.py
        that displays comma separated prices price {% endcomment %}
        <p class="price">
          &#8358;{{ product.discounted_price|format_with_commas }} &nbsp;
          <span>&#x20A6;{{product.selling_price|format_with_commas }}</span>
        </p>
        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline"
          >details</a
        >
      </article>
      {% endfor %}
    </aside>
  </article>
</section>
{% endblock main-content %}
