<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- loading custom_filter for price -->
{% load custom_filters %}

<!-- head block -->
{% block head %}
<!-- service.css file -->
<link rel="stylesheet" href="{% static 'app/css/service.css' %}" />
{% endblock head %}

<!-- document title -->
{% block title %}Viva Beauty Home | Services List{% endblock title %}

<!-- main products list -->
{% block main-content %}
<section class="section-top-padding">
  <h1 class="section-title">our <span>services</span></h1>
  <p class="section-intro">
    We're passionate about making you look and feel your best. We offer a wide
    range of services to pamper your hair and enhance your natural beauty. Step
    into our oasis of relaxation and let us transform your looks into works of
    art. Book your appointment today!
  </p>

  <div class="main-container">
    <ul class="categories">
      <li><a class="" href="{% url 'all_services' %}">all</a></li>
      {% for category in categories %}
      <li>
        <a class="" href="{% url 'services' category.id %}">{{category}}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="service-list-container">
      {% for service in services %}
      <!-- service item -->
      <article class="card">
        <div class="details">
          <div>
            <a href="{% url 'service_detail' service.id %}">
              <h3 class="title">{{ service.name }}</h3>
            </a>
            <p class="overview">{{service.description}}</p>
          </div>
          <nav class="btn-group">
            <a href="{% url 'service_detail' service.id %}">learn more</a>
            <span class="separator"> | </span>
            <a href="booking">book now</a>
          </nav>
        </div>
        <aside>
          <img
            src="{{ service.service_image.url }}"
            alt="{{ service.title }}" />
        </aside>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock main-content %}
