<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- loading custom_filter for price -->
{% load custom_filters %}

<!-- head block -->
{% block head %}
<!-- product_detail.css file -->
<link rel="stylesheet" href="{% static 'app/css/service_detail.css' %}" />
{% endblock head %}

<!-- document title -->
{% block title %}Viva Beauty Home | Service Details{% endblock title %}

<!-- main products list block -->
{% block main-content %}
<section class="section-top-padding">
  <h1 class="section-title">service <span>details</span></h1>
  <article class="service-detail">
    <div class="img-container">
      <img src="{{ service.service_image.url }}" alt="{{ service.title }}" />
    </div>
    <aside>
      <h2 class="title">{{service.name}}</h2>
      <p class="desc">{{service.description}}</p>
      {% if service.price %}
      <p class="price">&#x20A6;{{service.price|format_with_commas}}</p>
      <small class="small">+ payment will be made before service.</small>
      <a href="/booking" class="btn">book now</a>
      {% endif %}
    </aside>
  </article>

  <article class="service-row">
    {% for subservice in service.subservices.all %}
    <div class="col">
      <div>
        <h3>{{ subservice.name }}</h3>
        <p>{{subservice.description}}</p>
        {% if subservice.price %}
        <p class="price">&#x20A6;{{subservice.price|format_with_commas}}</p>
        <small class="small">+ payment will be made before service.</small>
        {% endif %}
      </div>
      {% if subservice.price %}
      <a href="/booking" class="btn">book now</a>
      {% endif %}
    </div>
    {% endfor %}
  </article>

  {% if service.work_samples.all %}
  <article class="sample-container swiper-container">
    <h3>Work Samples</h3>
    <div class="sample-images swiper-wrapper">
      {% for work_sample in service.work_samples.all %}
      <figure class="swiper-slide">
        <img
          src="{{ work_sample.image.url }}"
          alt="{{ work_sample.caption }}" />
      </figure>
      {% endfor %}
    </div>
    <!--==== Add Pagination ====-->
    <div class="work swiper-pagination"></div>
  </article>
  {% endif %}
</section>
{% endblock main-content %}
