<!-- inheriting the codes, links, etc from the base.html -->
{% extends 'app/base.html' %}

<!-- loading static files -->
{% load static %}

<!-- head block -->
{% block head %}
<!-- product_detail.css file -->
<link rel="stylesheet" href="{% static 'app/css/service_detail.css' %}" />
{% endblock head %}

<!-- document title -->
{% block title %}Viva Beauty Home | Service Details{% endblock title %}

<!-- main products list block -->
{% block main-content %}
<section class="section-top-padding">
  <h1 class="section-title">
    {{ selected_category.name }}<span>service</span>
  </h1>
  <div class="service-col-1">
    <article class="service-detail">
      <div class="img-container">
        <div class="main-img">
          {% comment %}
          <img
            src="{{ service.service_image.url }}"
            alt="{{ service.title }}" />
          {% endcomment %}
          <img
            src="{% static 'app/images/makeup-tool.png' %}"
            alt="service.title" />
        </div>
        <div class="sample-images">
          <figure>
            <img
              src="{% static 'app/images/makeup-tool.png' %}"
              alt="service.title" />
          </figure>
          <figure>
            <img
              src="{% static 'app/images/makeup-tool.png' %}"
              alt="service.title" />
          </figure>
          <figure>
            <img
              src="{% static 'app/images/makeup-tool.png' %}"
              alt="service.title" />
          </figure>
          <figure>
            <img
              src="{% static 'app/images/makeup-tool.png' %}"
              alt="service.title" />
          </figure>
        </div>
      </div>
      <aside>
        {% comment %}
        <h3 class="title">{{ service.title }}</h3>
        {% endcomment %}
        <h2 class="title">service.title</h2>
        <p class="price">2000</p>
        <small class="small">+ payment will be made before service.</small>
        <a href="/booking" class="btn">book now</a>
      </aside>
    </article>

    <div class="col">
      <h2>Description</h2>
      <p>service.description</p>
    </div>
    <div class="col">
      <h2>Composition</h2>
      <p>service.composition</p>
    </div>
  </div>
</section>
{% endblock main-content %}
