.section-top-padding {
  min-height: 72vh;
  display: grid;
  align-content: center;
}
.registration-container {
  display: flex;
  gap: 40px;
}
.registration-container .col {
  flex-basis: 50%;
}
.registration-container .col:first-child img {
  width: 100%;
}
.form-col h2 {
  font-size: 2rem;
  font-weight: 500;
}
.error-msg,
.form-col .fill_in_info {
  font-size: 1.05rem;
  color: rgb(255, 13, 13);
}
form {
  margin-top: 20px;
}
.form-control {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 5px 0;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  margin-top: 30px;
}
.form-control:focus {
  border-color: var(--purple-clr);
}
.form-control::placeholder {
  font-size: 1.1rem;
}
.form-col .btn {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding-block: 14px;
  margin-block: 30px;
}
.link-container {
  font-size: 1.2rem;
  margin-top: 40px;
}
.link-container + .link-container {
  margin-top: 10px;
}
.link-container a {
  font-size: 1.2rem;
  text-decoration: underline;
  line-height: 1.4;
}
.link-container a:hover {
  text-decoration: none;
}
.alert {
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  color: var(--white-clr);
}
.alert-success {
  background-color: rgb(2, 53, 2);
  color: rgb(13, 255, 13);
}
.alert-warning {
  background-color: rgb(53, 2, 2);
  color: rgb(255, 13, 13);
}
.form-col .error-msg {
  color: rgb(255, 13, 13);
  animation: timeout 10s forwards;
}
@keyframes timeout {
  0%,
  100% {
    display: none;
  }
  30% {
    display: block;
  }
}
@media screen and (max-width: 1020px) {
  .registration-container .col:first-child {
    display: none;
  }
  .registration-container .form-col {
    flex-basis: 100%;
    max-width: 600px;
    margin-inline: auto;
  }
}
@media screen and (max-width: 600px) {
  .link-container,
  .link-container a {
    font-size: 1rem;
  }
}
