/* custom variables */
:root {
  --purple-clr: purple;
  --yellow-clr: yellow;
  --pink-clr: #e86ed6;
  --black-clr: #000;
  --white-clr: #fff;
  --shadow-lg: 0 0 14px rgba(0, 0, 0, 0.6);
  --shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --transition-duration: 0.6s;
  --transition-duration-sm: 0.3s;
  --radius: 6px;
  --padding: 40px;
  --radius-sm: 4px;
}

/* CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--pink-clr); */
  background: var(--yellow-clr);
  font-family: "Jost", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  color: var(--white-clr);
  text-transform: uppercase;
  background-color: var(--purple-clr);
  border: 1px solid var(--purple-clr);
  transition: var(--transition-duration);
}
.btn-outline:hover {
  background-color: transparent;
}
h1 {
  font-size: 2.5rem;
}
p {
  font-size: 1.2rem;
}
header,
section,
footer {
  padding: 0.25rem 2.8rem;
}
section {
  padding-block: 30px;
}
/*======= Header =======*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--purple-clr);
  box-shadow: var(--shadow-lg);
  position: fixed;
  top: 0;
}
.header a {
  color: var(--white-clr);
}
.header ul {
  margin: 0;
  padding: 0;
}
.brand {
  font-family: "MonteCarlo", cursive;
}
.brand span {
  color: var(--pink-clr);
}
.nav-links {
  display: flex;
  gap: 5px;
  font-size: 1.2rem;
}
.nav-links a {
  padding: 6px;
  text-transform: capitalize;
  transition: 0.4s;
}
.nav-links a:hover,
.dropdown-sidemenu a:hover {
  color: var(--pink-clr);
}
/*---- side menu ----*/
.side-menu {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
/*---- dropdown menu----*/
.dropdown-sidemenu {
  color: var(--white-clr);
  font-size: 1.2rem;
  position: relative;
}
.dropdown-sidemenu .user-profile:hover {
  cursor: pointer;
  color: var(--pink-clr);
}
.dropdown-sidemenu:hover ul {
  display: block;
}
.dropdown-sidemenu .user-profile::after {
  content: "\25BE";
}
.dropdown-sidemenu ul {
  position: absolute;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--purple-clr);
  padding: 10px;
  display: none;
  z-index: 5;
}
.dropdown-sidemenu li a {
  font-size: 1rem;
  display: block;
}

/*---- favorite and cart ----*/
.side-menu .favorite,
.side-menu .cart {
  position: relative;
  cursor: pointer;
}
.side-menu .fa {
  font-size: 1.4rem;
}
.side-menu span {
  background: red;
  color: var(--white-clr);
  font-size: 0.9rem;
  border-radius: 50%;
  width: 24px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  position: absolute;
  top: -10px;
  right: -15px;
}
.hamburger {
  display: none;
}

/*======== Banner ========*/
.banner {
  background: var(--pink-clr) url(../images/banner.png) no-repeat;
  color: var(--white-clr);
  background-size: cover;
  padding-top: 80px;
  height: 100vh;
  display: grid;
  align-items: center;
}
.banner .content {
  max-width: 600px;
}
.banner .content h1 {
  font-weight: 600;
  line-height: 1;
}
.banner .content p {
  margin-block: 20px;
}

/*======== About Us ========*/
.about-us {
  display: flex;
  align-items: center;
  gap: 15px;
}
.about-us .col-1 {
  flex-basis: 45%;
}
.about-us .col-2 {
  flex-basis: 55%;
}
.about-us .col-1 img {
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 450px;
}
.about-us .col-2 .btn {
  margin-top: 20px;
}

/*========== MEDIA QUERY ==========*/
@media screen and (max-width: 900px) {
  .header .nav-links {
    display: none;
  }
  .hamburger {
    display: grid;
    place-items: center;
    width: 2rem /* 32px */;
    height: 1.5rem /* 24px */;
    cursor: pointer;
  }
  .hamburger .bar {
    background-color: var(--white-clr);
    width: 100%;
    height: 4px;
  }
  .hamburger .bar::before,
  .hamburger .bar::after {
    content: "";
    display: block;
    background-color: var(--white-clr);
    height: 100%;
    width: 100%;
    transition: var(--transition-duration);
  }
  .hamburger .bar::before {
    transform: translateY(-10px);
  }
  .hamburger .bar::after {
    transform: translateY(6px);
  }
  .hamburger.active .bar::before {
    transform: translateY(-1px) rotate(45deg);
  }
  .hamburger.active .bar {
    background-color: transparent;
  }
  .hamburger.active .bar::after {
    transform: translateY(-4px) rotate(-45deg);
  }
  /* banner */
  .banner {
    background-position: -200px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
  }
  .banner {
    background-position: -300px;
  }
}

@media screen and (max-width: 400px) {
  .banner {
    background-position: -400px;
  }
}
